In [1]:
import pandas as pd
# Test commmit

In [2]:
my_data = pd.DataFrame({'A': [0.2, 0.4, 1], 
                        'B': [1.1, 1, 1.4], 
                        'C': [2.2, 2, 1]})
my_data

     A    B    C
0  0.2  1.1  2.2
1  0.4  1.0  2.0
2  1.0  1.4  1.0

### Coloring

Note that colors do not show up on the GitHub .ipynb viewer.

In [3]:
my_data_colored = my_data.style.apply(lambda x: ["background: red" if v == 1 else "" for v in x], axis=0)\
                               .apply(lambda x: ["background: blue" if v > 1 else "" for v in x], axis=0)
my_data_colored

In [4]:
# To color the maximum value in each column 
my_data_colored_ex1 = my_data.style.apply(lambda x: ["background: purple" if v == max(x) else "" for v in x], axis=0)
my_data_colored_ex1

In [5]:
# To color the maximum value in each row 
my_data_colored_ex2 = my_data.style.apply(lambda x: ["background: orange" if v == max(x) else "" for v in x], axis=1)
my_data_colored_ex2

### Formatting

In [6]:
format_style = '{:.1f} units'
my_data_colored_and_formatted = my_data_colored.format(format_style)
my_data_colored_and_formatted